#carte {
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    z-index: 2;
}

#gradient {
    background-image: linear-gradient( #060c09, #062924);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#bg-darkness {
    width: 100%;
    height: 100%;
    z-index: 3;
    background-image: radial-gradient( #00000059, #000000c7);
}

#map-wrapper {
    isolation: isolate;
}

#hud-container {
    width: 100%;
    height: 100%;
    z-index: 5;
    isolation: isolate;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

#hud-corner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.hud-element {
    margin: 2rem;
    border-style: solid;
    border-color: #47FF75;
    color: #47FF75;
    z-index: 10;
}

.zdog-canvas {
    width: 100%;
    height: 100%;
}

.switch-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    height: 100%;
}

.switch-box {
    border-style: solid;
    border-width: 1px ;
    margin: 0.5rem;
}

.switch {
    background-color: #47fff6ff;
    width: 50%;
    height: 100%;
}

.wheel-container {
    padding: 1rem;
    height: 100%;
}

.wheel {
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #47FF75;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

.line {
    height: 100%;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #47fff6ff;
    transform-origin: 50% 50%;
}

.animejs-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.visualizer {
    height: 100%;
}